body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
    padding: 0 1rem
}

.content {
    min-height: calc(100vh - 93px - 105px);
}

.items {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    gap: 1rem;
}

.item-image {
    height: 300px;
    border-bottom: 1px solid black;
}

.item-image img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

.item-description {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cart-icon {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 5;
    padding: 1rem;
}

@media (min-width: 767px) {
    .cart-icon {
        top: 5rem;
        bottom:unset;
    }
}

.cart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
    max-width: 95%;
}

@media (min-width: 1024px) {
    .cart {
        /*top: 5rem;*/
        /*bottom:unset;*/
    }
}

